.gal:hover {
    border: 1em #fff solid;
    transition: .5s ease-out;
    opacity: 0.7;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* .goog-te-banner-frame.skiptranslate{display: none;} */



.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.border-w {
    border-right: 0.2rem solid white;
}



@media only screen and (max-width: 790px) {
    .hide {
        display: none;
    }

    .mobspan {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .centermob {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .mobborderhide {
        border: 0;
    }

    .margincut {
        margin-top: 0;
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #ffd400;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
}

.my-float {
    margin-top: 22px;
}

/* post */
.post .post-title {
    font-size: 18px;
    margin-bottom: 0px;
}

.post {
    margin-bottom: 40px;
}

.post .post-img {
    display: block;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.post .post-img:hover,
.post .post-img:focus {
    opacity: 0.9;
}

.post .post-img>img {
    width: 100%;
    height: 197px;
}

.post .post-meta {
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-meta .post-date {
    color: #6b6d70;

}

.cat-1 {
    background-color: #4bb92f;
}

.cat-2 {
    background-color: #ff8700;
}

.cat-3 {
    background-color: #8d00ff;
}

.cat-4 {
    background-color: #0078ff;
}

.searchHide{
    display:none !important;
}